#Container1{
    border: solid 3px black;
    width: 200px;
    height: 200px;
    display: inline-block;
}
#Container2{
    border: solid 3px black;
    width: 200px;
    height: 200px;
    display: inline-block;
}

div{
    text-align: center;
}

h1{
    font-weight: bold;
}